
.c-fab-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 4rem;
  border: none;
  cursor: pointer;
}
.c-fab-button:hover {
  opacity: .75;
}
.c-fab-wrapper.c-open:hover .c-fab-title {
  display: block;
}
.c-fab-button {
  width: 4rem;
  text-align: center;
  font-size: 1.5rem;
}
