#heading {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  width: 100%;
}
#logo {
  font: 150px 'Italiana', sans-serif;
  font-weight: 400;
  color: #33333d;
  text-transform: lowercase;
  line-height: 210px;
}
#tagline {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-transform: lowercase;
  color: #33333d;
  font-size: 16px;
  font-weight: 400;
}
a {
  color: #33333d;
}
